<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creeper</title>
</head>

<body>
    <div id="root"></div>

    <script>
        class VirtualDOM {
            static #isRender = false;
            static #root = null;
            static createRoot(root) {
                const rootClass = new VirtualDOM.#Root(root);
                VirtualDOM.#root = rootClass;
                return VirtualDOM.#root;
            }
            static invokeRender() {
                VirtualDOM.#isRender = true;
            }
            static #Root = class {
                #rootElement = null;
                #renderElement = null;
                constructor(rootElement) {
                    this.#rootElement = rootElement;
                }
                render(renderElement) {
                    let isFunction = false;
                    if (typeof renderElement === "function") {
                        isFunction = true;
                    } else {
                        isFunction = false;
                    }
                    const refresh = (bool) => {
                        this.#rootElement.innerHTML = "";
                        if (bool) {
                            this.#rootElement.appendChild(renderElement());
                        } else {
                            this.#rootElement.appendChild(renderElement.render());
                        }
                        FunctionComponent.invokeEffects();
                    }
                    refresh(isFunction);
                    FunctionComponent.increaseStatesIndex();
                    setInterval(() => {
                        if (VirtualDOM.#isRender) {
                            refresh(isFunction);
                            VirtualDOM.#isRender = false;
                        }
                    }, 1);
                }
            }
        }
        class ClassComponent {
            #props = {};
            constructor(props) {
                this.#props = props;
            }
            setState = (updatedState) => {
                Object.assign(this.state, updatedState);
                VirtualDOM.invokeRender();
                FunctionComponent.invokeEffect();
            }
        }
        class FunctionComponent {
            static #states = [[], []];
            static #effects = [];
            static #pendingEffects = [];
            static #effectsIndex = 0;
            static #statesIndex = 0;
            static useState(value) {
                const states = FunctionComponent.#states;
                const statesIndex = FunctionComponent.#statesIndex;
                const index0 = (statesIndex + 1) % 2;
                let index1 = 0;
                if (statesIndex === 0) {
                    states[index0].push(value);
                    index1 = states[index0].length - 1;
                    return [states[index0][index1], FunctionComponent.#getSetStateCallBack(index1)];
                }
                states[index0].push("dummy");
                index1 = states[index0].length - 1;
                states[index0][index1] = states[(index0 + 1) % 2][index1];
                return [states[index0][index1], FunctionComponent.#getSetStateCallBack(index1)];
            }
            static useEffect(callback, targetStates) {
                const effects = FunctionComponent.#effects;
                const pendingEffects = FunctionComponent.#pendingEffects;
                const effectsIndex = FunctionComponent.#effectsIndex;
                if (arguments.length < 2) {
                    pendingEffects.push(callback);
                    return;
                }
                if (targetStates.length === 0 && effectsIndex === 0) {
                    pendingEffects.push(callback);
                    return;
                }
                if (effectsIndex >= effects.length) {
                    effects.push(targetStates);
                    FunctionComponent.#effectsIndex++;
                    return;
                }
                const originalValue = JSON.stringify(effects[effectsIndex]);
                const latestValue = JSON.stringify(targetStates);
                if (originalValue === latestValue) {
                    FunctionComponent.#effectsIndex++;
                    return;
                }
                effects[effectsIndex] = targetStates
                pendingEffects.push(callback);
                FunctionComponent.#effectsIndex++;
            }
            static increaseStatesIndex() {
                FunctionComponent.#statesIndex++;
            }
            static invokeEffects() {
                for (let i of FunctionComponent.#pendingEffects) {
                    i();
                }
                FunctionComponent.#pendingEffects = [];
                FunctionComponent.#effectsIndex = 0;
            }
            static #getSetStateCallBack(index1) {
                const setState = (s) => {
                    FunctionComponent.increaseStatesIndex();
                    const states = FunctionComponent.#states;
                    const statesIndex = FunctionComponent.#statesIndex;

                    const index0 = (statesIndex + 1) % 2; //original
                    const newIndex0 = (statesIndex) % 2  //new
                    const newState = [...states[index0]];
                    newState[index1] = s;
                    states[newIndex0] = newState;
                    states[index0] = [];

                    VirtualDOM.invokeRender();
                    console.log(states);
                };
                return setState;
            }
        }
        function App() {
            const [title, setTitle] = FunctionComponent.useState(1);

            FunctionComponent.useEffect(() => {
                console.log(title, "changed");
            }, [title]);

            const div = document.createElement("h1");
            const button = document.createElement("button");
            div.innerText = title;
            button.innerText = "Click";
            button.addEventListener("click", (e) => {
                setTitle(title + 1);
            });
            div.appendChild(button);
            return div;
        }
        window.onload = () => {
            const container = document.getElementById('root');
            const root = VirtualDOM.createRoot(container);
            root.render(App);
        }
    </script>
</body>

</html>